<!--
  Generated template for the DestListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>DestList</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>  
    <ion-list *ngFor="let st of merge; index as i">
        <ion-item-sliding>
          <ion-item *ngIf="i<count && merge[i]!=undefined">
            <ion-label>{{merge[i]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{merge[i+count]}}</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="Done(i)">TransportDone</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
      <ion-button shape="round" color="secondary" expand="block" fill="solid" (click)="closeModal()">Close</ion-button>
</ion-content>
