page-home {
  #floating-panel {
    border-radius: 20px !important;
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }
  .noScroll {
    overflow: hidden;
    }
    #map {
    height: 100%;
    width: 100%;
    }
    .truck {
      margin: -10px -10px;
      width: 20px;
      height: 20px;
      border: 2px solid #fff;
      border-radius: 50%;
      background: #3887be;
      pointer-events: none;
    }
    .mapboxgl-popup {
      max-width: 400px;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      } 
      #fbbutton {
          background-color: rgb(127, 243, 131); /* Green */
          border: none;
          color: blue;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 8px;
          margin: 2px 1px;
          cursor: pointer;
      }
      .ion-item-border {
        
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        }
}
